body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-section {
    margin-bottom: 20px;
}

.select-dropdown {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.submit-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.weather-data {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.temp-info {
    font-weight: bold;
}

.other-info {
    color: #666;
}

.weather-table {
    width: auto; /* Adjusts width to content */
    max-width: 80%; /* Limits to 80% of the screen width */
    margin: 0 auto; /* Centers the table */
    table-layout: fixed; /* Evenly distributes column widths */
}

.weather-table th, .weather-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* Ensures text wraps in cells */

}

.weather-table th {
    background-color: #4CAF50;
    color: white;
}

.weather-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.weather-table tr:hover {
    background-color: #ddd;
}


.weather-detail {
    display: flex;
    align-items: center;
    font-size: 0.7em; /* Smaller font size */
    margin-bottom: 3px; /* Space between each detail */
}

.weather-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Space between icon and text */
}


.hidden {
    display: none; /* Hide element */
}

.humidity-icon {
    vertical-align: middle;
    width: 20px; /* Adjust as needed */
    height: auto;
}

.temperature-range {
    font-size: 1.2em; /* Larger font size */
    color: #007bff; /* A color that stands out, adjust as needed */
}
.temperature-container {
    margin-bottom: 6px; /* Add space below the container */
}

.weather-clouds {
    margin-bottom: 6px;
}

